<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
	  
    <a class="navbar-brand" href="http://www.lambdaalgo.com">  
		<img src="/img/favicon.ico" alt="Company Logo" height="40" width="50">
	</a>
	  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/blockpros">블록해설</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/mathpros">문제해설</a>
        </li>
		
		<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">연도별해설</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">22년 11월 대수능</a></li>
            <li><a class="dropdown-item" href="#">22년 9월 모의평가</a></li>
            <li><a class="dropdown-item" href="#">22년 6월 모의평가</a></li>
			<li><a class="dropdown-item" href="#">21년 11월 대수능</a></li>  
			<li><a class="dropdown-item" href="#">21년 9월 모의평가</a></li>
			<li><a class="dropdown-item" href="#">21년 6월 모의평가</a></li>
			<li><a class="dropdown-item" href="#">20년 11월 대수능</a></li>
			<li><a class="dropdown-item" href="#">20년 9월 모의평가</a></li>
			<li><a class="dropdown-item" href="#">20년 6월 모의평가</a></li>  
          </ul> 	
        </li>
		  
		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="/mathpros/new">입력도구</a>	
        </li>  
		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="/mathpros">로그인</a>	
        </li>    
		<!--  
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
		-->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="수학개념 검색" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
	  
  </div>
</nav>


<!--
<h1>
	Navbar Here
</h1>
-->