<%- include("partials/header") %>
	<div class="container mt-5">
    	<h2>
			여기서 람다알고의 수학 접근법을 이용하세요. 
		</h2>
		<br /><br />
		When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$ 
	</div>	
	<!-- testing ... &nbsp;&#9312; &nbsp;&#9313; &nbsp;&#9314; &nbsp;&#9315; &nbsp;&#9316; -->
<%- include("partials/footer") %>